<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729714818867-9faq8mghjn01l1fs3d3o0jfamoloemv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729714818867-9faq8mghjn01l1fs3d3o0jfamoloemv8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Mcuvdk5Do4dw9IJtbrKZohPDMWapYnw</string>
	<key>GCM_SENDER_ID</key>
	<string>729714818867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honghaoz.2048X-AI</string>
	<key>PROJECT_ID</key>
	<string>com-chouti-2048x</string>
	<key>STORAGE_BUCKET</key>
	<string>com-chouti-2048x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729714818867:ios:74a407118f8153e1</string>
	<key>DATABASE_URL</key>
	<string>https://com-chouti-2048x.firebaseio.com</string>
</dict>
</plist>